/* You can add global styles to this file, and also import other style files */

/*******************
 * Base Style Elements
 *******************/
body {
    background: black;
    overflow-y: scroll;
}

.modal-dialog {
    max-width: 800px;
}

.dropdown-toggle {
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-container {
    background: black;
}

/**
 * color-themes
 */
.fx-bg-theme {
    color: aliceblue;
    background: #1f0101;
    background: -moz-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #474242), color-stop(100%, #1f0101) );
    background: -webkit-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -o-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -ms-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: linear-gradient(to right, #474242 0%, #1f0101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474242', endColorstr='#1f0101', GradientType=1 );
}
.fx-bg-type {
    background: aliceblue;
    background: -moz-linear-gradient(left, #1f0101 0%, #474242 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1f0101), color-stop(100%, #474242) );
    background: -webkit-linear-gradient(left, #1f0101 0%, #474242 100%);
    background: -o-linear-gradient(left, #1f0101 0%, #474242 100%);
    background: -ms-linear-gradient(left, #1f0101 0%, #474242 100%);
    background: linear-gradient(to right, #1f0101 0%, #474242 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f0101', endColorstr='#474242', GradientType=1 );
}
.fx-bg-name {
    color: aliceblue;
    background: #1f0101;
    background: -moz-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #474242), color-stop(100%, #1f0101) );
    background: -webkit-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -o-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -ms-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: linear-gradient(to right, #474242 0%, #1f0101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474242', endColorstr='#1f0101', GradientType=1 );
}

.content-container {
    color: aliceblue;
    background: #1f0101;
    background: -moz-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #474242), color-stop(100%, #1f0101) );
    background: -webkit-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -o-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -ms-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: linear-gradient(to right, #474242 0%, #1f0101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474242', endColorstr='#1f0101', GradientType=1 );
}

.bg-light {
    color: aliceblue;
    background: #1f0101;
    background: -moz-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #474242), color-stop(100%, #1f0101) );
    background: -webkit-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -o-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: -ms-linear-gradient(left, #474242 0%, #1f0101 100%);
    background: linear-gradient(to right, #474242 0%, #1f0101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474242', endColorstr='#1f0101', GradientType=1 );
}

.form-control, .dropdown .btn-secondary, .pagination .page-item .page-link  {
    background:#474242;
    color: aliceblue;
}

.typetable-column {
    color: black;
}

/*******************
 * Common Style Elements
 *******************/
.album-dropzone{
    max-height: 40px;
}
.album-dropzone file-drop, .album-dropzone #dropZone, .album-dropzone #dropZone > div {
    max-height: inherit;
}

.album-dropzone:hover, .album-dropzone #dropZone:hover, .album-dropzone #dropZone > div:hover {
    max-height: 100px;
}

/**
 * human readable filters
 */
div.humanReadableSearchFilter span.filterValue {
    font-weight: bold;
}

/**
 * highlights high-rated items
 */
.list-item-persrate-0 {
}
.list-item-persrate-1 {
}
.list-item-persrate-2 {
}
.list-item-persrate-3 {
}
.list-item-persrate-4 {
    border: 3px solid gold !important;
    border-color: gold !important;
}
.list-item-persrate-5 {
    border: 3px solid gold;
    border-color: gold !important;
    background: gold;
}

/*******************
 * Images
 *******************/
img.picture-thumbnail {
    border-radius: 5px;
}
img.picture, img.picture-thumbnail-big, img.picture-small, img.picture-big, video.picture-big, img.picture-teaser  {
    border-radius: 10px;
}

img.picture-small, img.picture-big, video.picture-big , img.picture-teaser {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*******************
 * Container
 *******************/
div.leaflet-container {
    border-radius: 10px;
}

/*******************
 * Cookie-law
 *******************/
.cookie-law-wrapper {
    max-width: 100vw !important;
}

a.dismiss::after {
    content: "OK" !important;
}
a.dismiss > svg {
    display: none !important;
}



/*******************
 * Extended-Objects
 *******************/
app-cdoc-extended-object-properties div.label {
    min-width: 15px !important;
}
app-cdoc-extended-object-properties div.value {
    min-width: 15px !important;
}
